
<mat-toolbar *ngIf="details"> Edit Details of the Person {{details.id}}</mat-toolbar>
<mat-toolbar *ngIf="!details"> Add new Person in Database</mat-toolbar>

<form class="example-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fname" required>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lname" required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input matInput formControlName="contact" pattern="[0-9]{10}" required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="1">Female</mat-option>
                <mat-option value="2">Male</mat-option>
                <mat-option value="3">Not prefer to say</mat-option>
            </mat-select>
        </mat-form-field>
        
    </p>
    <button mat-raised-button color="primary" [disabled]='!editForm.valid'>Submit</button>
</form>